<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Administrador</title>
<link rel="icon" href="../assets/img/CAMION.svg" type="image/svg+xml">
<link rel="stylesheet" href="../assets/css/adminNuevo.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>

<body>

<!-- navbar -->

<header class="topbar">

    <div class="logo">

        <img 
            src="../assets/img/CAMION.svg"
            alt="Logo"
        >

    </div>

    <nav class="navbar">

        <a href="admin.html" class="nav-item active">

            <img 
                src="../assets/img/admin/HOME.svg"
                alt="Inicio"
                class="nav-icon"
            >

            INICIO

        </a>

        <a href="flujo.html" class="nav-item">

            <img 
                src="../assets/img/admin/FLUJO.svg"
                alt="Flujo"
                class="nav-icon"
            >

            FLUJO

        </a>

        <a href="reportes.html" class="nav-item">

            <img 
                src="../assets/img/admin/REPORTE.svg"
                alt="Reporte"
                class="nav-icon"
            >

            REPORTES

        </a>

        <a href="usuarios.html" class="nav-item">

            <img 
                src="../assets/img/admin/USUARIOS.svg"
                alt="Usuarios"
                class="nav-icon"
            >

            USUARIOS

        </a>

        <a href="agregar.html" class="nav-item">

            <img 
                src="../assets/img/admin/OFICIAL.svg"
                alt="Puntos oficiales"
                class="nav-icon icon-puntos"
            >

            PUNTOS OFICIALES

        </a>

        <a href="recolectores.html" class="nav-item">

            <img 
                src="../assets/img/admin/RECOLECTORES.svg"
                alt="Recolectores"
                class="nav-icon icon-rec"
            >

            RECOLECTORES

        </a>

        <a href="evidencias.html" class="nav-item">

            <img 
                src="../assets/img/admin/EVIDENCIA.svg"
                alt="Evidencias"
                class="nav-icon icon-rec"
            >

            EVIDENCIAS

        </a>

    </nav>

    <button id="btnLogout" class="btn-logout">
        CERRAR SESION
    </button>

</header>

<!-- hero -->

<section class="hero">

    <div class="hero-content">

        <div class="icon-admin"></div>

        <h1>ADMINISTRADOR</h1>

        <p>
            Sistema de monitoreo comunitario
            de residuos de la construccion.
        </p>

    </div>

</section>

<!-- dashboard -->

<main class="dashboard">



    <!-- actividad  -->

    <section class="actividad-reciente">

        <h2>Actividad reciente</h2>

        <div id="contenedorActividad"></div>

    </section>

    <section class="mapa-dashboard">

        <h2>Mapa general de reportes</h2>
    
        <iframe
            src="../views/mapa.html"
            class="iframe-mapa"
        ></iframe>
    
    </section>

</main>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../assets/js/admin.js"></script>

<script src="../assets/js/logout.js"></script>


</body>
</html>