<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link
rel="stylesheet"
href="../css/style.css">

</head>

<body>

<h1>
Sistema de Tareas
</h1>

<button id="btnLogout">
Cerrar Sesión
</button>

<hr>

<h2>
Nueva Tarea
</h2>

<form id="formTarea">

<input
type="text"
id="titulo"
placeholder="Título">

<input
type="text"
id="descripcion"
placeholder="Descripción">

<button>
Guardar
</button>

</form>

<hr>

<h2>
Mis Tareas
</h2>

<div id="lista">

</div>

<script src="../js/dashboard.js">

</script>

</body>

</html>